<% content_for :style do %>

  a {
  color: #000000;
  text-decoration: none;
  }
  a:visited {
  color: #222222;
  }

<% end %>

  <div style="text-align:center;">
    <p style="font-family:jGaramond, serif; font-size: 40px;font-weight:bold;">
      <%=h(@username.capitalize) %>
    </p>
    <%= link_to "Essays", "/#{@username}/essays/"  %>
  </div>
