<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Hexágonos de Borges</title>
    <style type="text/css" media="screen">
      a {
      color: #000000;
      text-decoration: none;
      }
      a:visited {
      color: #222222;
      }
    </style>
  </head>

  <body>
    <div style="text-align:center;">
      <p style="font-family:jGaramond, serif; font-size: 40px;font-weight:bold;">
        <%=h(@username.capitalize) %>
      </p>
      <%= link_to "Essays", "/#{@username}/essays/"  %>
    </div>
  </body>
</html>
