* {
    font-family:  "Garamond", Garamond, jGaramond, Georgia, 'Essays1743', serif;
}

#login_nav{
    text-align: right;
}

a {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}

a:visited {
    color: #222222;
}



