<h1> <%=h @username %></h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>

  <% @essays.each do |essay| %>
    <tr>
      <% unless essay.is_private? -%>
        <td><%=h essay.title %></td>
        <td><%= link_to "Show", "/#{@username}/essays/#{essay.title}" %></td>
      <% end -%>
    </tr>
  <% end %>
</table>

<br />

