
<p>
  <b>Title:</b>
  <%=h @essay.title %>
</p>


<!-- y aqui convertir el contenido en html -->
<p>
  <b>Content:</b>
  <%=RedCloth.new(@essay.content).to_html %>
</p>


<%= link_to 'Edit', edit_essay_path(@essay) %> |
<%= link_to 'Back', essays_path %>
